.top1{
  height: 90px;
  width: 100%;
  background-color: #ff6363;
position: absolute;
top: 0;
 float: left;
 position: fixed;

}

.header{
color: white;
text-decoration: none;
font-family:  serif;
margin-left: 30px;
margin-top: 0;
margin-bottom: 0;
position: relative;
top: -20px;
left: 50px;
bottom:15px;
font-size: 3em;

}
.header:hover
{
  transform:scale(1.1);
  transition: 0.3s;
  cursor: pointer;
}
.img1{
  background-color: #ff6363;
  width: 80px;
  height: 80px;
  margin-left: 30px;
  margin-top: 5px;
  position: relative;
  left: 50px;

}
.inl{
  display: inline-block;
}
body{
  margin: 0;
  background-color: #ebe6e6;
}
.tagbar
{
  color: white;
  text-decoration: none;
}
hr{
  position: absolute;
  top: 1293px;
  left: 40% ;
  background-color:#ebe6e6 ;
  border-style: none;
  border-top: dotted;
  border-color: grey;

  height: 5px;
  width: 20%;
  border-width: 5px;
}
.foot{
  position: absolute;
  top: 1300px;
  left: 42%;
  color: grey;
  font-size: 16px;
  text-align: center;
}
.textarea1{
  position: absolute;
top: 150px;
left: 50px;
  font-size: 2em;
  border: solid black;

}
.textarea2{
  position: absolute;
  top: 550px;
  left: 50px;
  font-size: 2em;
  border: solid black;
}
.textarea3{
  position: absolute;
  top: 950px;
  left: 50px;
  font-size: 2em;
  border: solid black;
}
.lable{
  position: absolute;
  top: 110px;
  left: 50px;

  font-size: 32px;
}
.lable1
{
  position: absolute;
  top: 500px;
  left: 50px;

  font-size: 32px;
}
.lable2
{
  position: absolute;
  top: 890px;
  left: 50px;

  font-size: 32px;
}
